
* {
  box-sizing: border-box;
}
body {
    background-color: black;
}

.text {
    color: white;
    font-family:"Comic Sans MS", cursive, sans-serif ;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;
  margin-top: 80px;
}

.vl {
    border-right: 4px solid white;
    height: 550px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
    border-radius: 50%;
  }
